.container {
  width: 100%;
  margin-top: 12px;
}

.chart {
  width: 100%;
  height: 100px;
  cursor: crosshair;
}

.stats {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}
