---
import { R2_BASE_URL } from "../lib/config";

interface Props {
  description?: string;
}

const { description } = Astro.props;
---

<figure>
  <div class="images">
    <slot />
  </div>
  <figcaption>{description}</figcaption>
</figure>

<style>
  figure {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  figcaption {
    font-size: 12px;
    color: #666;
  }
</style>
