<div>
  <h1>Reggie</h1>
  <p>
    Send me an email with your running goals, then I’ll start sending a daily
    training routine. No app, no pesky subscription. Just a numbat with an email
    address.
  </p>
  <a href="https://www.reggie.run">Learn more</a>
</div>

<style>
  div {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }
</style>
