---

---

<header>
  <nav>
    <a href="/">Home</a>
    <a href="/ephemera/">Ephemera</a>
    <a href="/photos/">Photos</a>
    <a href="/notes/">Notes</a>
    <a href="/trove/">Trove</a>
    <a href="/colophon/">Colophon</a>
  </nav>
</header>
