---
import { getCollection } from "astro:content";

const trove = await getCollection("trove");
---

<section id="trove">
  <h2>Trove</h2>
  <ul>
    {
      trove.map((entry) => (
        <li>
          <a href={entry.data.url} target="_blank" rel="noopener noreferrer">
            {entry.data.title}
          </a>
          {entry.data.description && <p>{entry.data.description}</p>}
          {entry.data.tags && entry.data.tags.length > 0 && (
            <div>
              {entry.data.tags.map((tag) => (
                <span>{tag}</span>
              ))}
            </div>
          )}
        </li>
      ))
    }
  </ul>
</section>
